.infoBox {
    flex: 1;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    color: #db162f;
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #5f758e;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}